<% var title = 'ON Body Clinic |  PRICE'; %>
<% var description = '料金案内ページののディスクリプション'; %>
<% var keywords = ''; %>
<% var path = '.'; %>
<% include common/_header %>

<!-- 記述 -->

<div class="pages__title">
    <div class="contents po_rel">

        <h1>PRICE</h1>
        <span>料金案内</span>

        <ul class="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
            <li itemscope itemprop="itemListElement" itemtype="http://schema.org/ListItem">
                <a href="./index.html" class="js-hover is-opacity" itemprop="item"><span itemprop="name">HOME</span></a>
                <meta itemprop="position" content="1" />
            </li>
            <li itemscope itemprop="itemListElement" itemtype="http://schema.org/ListItem">
                <a href="./price.html" class="js-hover is-opacity" itemprop="item"><span
                        itemprop="name">PRICE</span></a>
                <meta itemprop="position" content="2" />
            </li>
        </ul>
    </div>
</div><!-- /pages__title -->
<main class="main" role="main">
    <!-- block 01 -->
    <section class="price__list block01 js-view">
        <h1>GLP-1
      <!--   <img src="images/price/laser.jpg" width="135" height="303" alt="YAG レーザー" class="img-img"> -->
      </h1>
        <table class="price-list">
            <caption>GLP-1処方</caption>
            <thead>
                <tr>
                    <th>本数</th>
                    <th>金 額（税別）</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>GLP-1 1本</td>
                    <td>9,800円<span></td>
                </tr>
                <tr>
                    <td>GLP-1 4本セット</td>
                    <td>¥35,280円<span class="font-sm">※1本あたり</span></td>
                </tr>
            </tbody>
        </table>
    </section>



    <!-- price category 3 -->
    <section class="price__list block02 js-view">
        <h1>BBX</h1>
        <!-- table 3-1 -->
        <table class="price-list">
            <caption>BBX処方</caption>
            <thead>
                <tr>
                    <th>内容</th>
                    <th>金 額（税別）</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>お問い合わせください</td>
                    <!--  <td>12,800円</td> -->
                </tr>
            </tbody>
        </table>
    </section>

    <section class="price__list block03 js-view">
        <h1>クラツーアルファ</h1>
        <!-- table 3-1 -->
        <table class="price-list">
            <caption>冷却痩身</caption>
            <thead>
                <tr>
                    <th>施術箇所</th>
                    <th>金 額（税別）</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1エリア</td>
                    <td>29,800円</td>
                </tr>
                <tr>
                    <td>2エリア</td>
                    <td>49,600円</td>
                </tr>
                <tr>
                    <td>4エリア</td>
                    <td>79,200円</td>
                </tr>
            </tbody>
        </table>
    </section>




    <!-- block 03 -->
    <section class="price__list block04 js-view">
        <h1>脂肪吸引</h1>
        <table class="price-list">
            <caption>脂肪吸引手術</caption>
            <thead>
                <tr>
                    <th>施術名</th>
                    <th>料金（税別）</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>お問い合わせください</td>
                    <!--  <td>69,800円</td> -->
                </tr>
                <!-- <tr>
                    <td>首+顎下</td>
                    <td>39,800円</td>
                </tr>
                <tr>
                    <td>顎下</td>
                    <td>19,800円</td>
                </tr> -->
            </tbody>
        </table>
    </section>

    </section>
    <!-- price site link -->
    <!--  <div class="price-link">
        <div class="price-link__inner js-view"> <a href="http://www.yag-beauty.jp/price.html" target="_blank"
                class="price-link__item js-hover is-opacity"> <img src="images/price/site_01.svg?20190315"
                    alt="YAG BEAUTY CLINIC" class="price-link__img"> </a> <a href="http://pico-beauty.jp/price.html"
                target="_blank" class="price-link__item js-hover is-opacity"> <img src="images/price/site_02.svg?07032"
                    alt="PICO BEAUTY CLINIC" class="price-link__img"> </a> <a
                href="http://pico-beauty.jp/tattoo/price.html" target="_blank"
                class="price-link__item js-hover is-opacity"> <img src="images/price/site_03.svg?07032"
                    alt="PICO BEAUTY CLINIC TATTOO" class="price-link__img"> </a> <a
                href="http://yag-beauty.jp/ope/price.html" target="_blank" class="price-link__item js-hover is-opacity">
                <img src="images/price/site_05.svg?07032" alt="DESIGN LABO SURGERY" class="price-link__img"> </a> <a
                href="http://www.design-and-beauty.jp/price.html" target="_blank"
                class="price-link__item js-hover is-opacity"> <img src="images/price/site_04.svg?07032"
                    alt="DESIGN LABO" class="price-link__img"> </a> <a
                href="http://souki-kai.or.jp/vista-labo/price.html" target="_blank"
                class="price-link__item js-hover is-opacity"> <img src="images/price/site_06.svg?07032" alt="VISTA LABO"
                    class="price-link__img"> </a> <a href="http://souki-kai.or.jp/liftup-center/price.html"
                target="_blank" class="price-link__item js-hover is-opacity"> <img src="images/price/site_07.svg?07032"
                    alt="LIFT UP CENTER" class="price-link__img"> </a> <a href="http://yag-beauty.jp/venus/price"
                target="_blank" class="price-link__item js-hover is-opacity"> <img src="images/price/site_010.svg?07032"
                    alt="LIFT UP CENTER" class="price-link__img"> </a></div>
    </div> -->
    </div>
    <!-- yag bottom sns -->
    <section class="btm-sns popup-nav">
        <div class="js-view">
            <h1>
                    <span class="screen-reader">DESIGN LABO 注入施術専門クリニック</span>
                    <div class="btm-sns__heading-image">
                        <img src="<%= path %>/src/img/common/site_logo.png" alt="ON_Body_Clinic">
                    </div>
                </h1>
            <div class="btn btn-green js-popup-open open-reserve js-hover is-opacity">ご予約</div>
            <!--  <div class="btm-sns__sns">
                    <a href="https://www.instagram.com/yagbeauty_official/" target="_blank" class="js-hover is-opacity">
                        <span class="screen-reader">instagram</span>
                        <img src="<%= path %>/src/img/common/icon_instagram.svg" alt="instagram">
                    </a>
                    <a href="https://ameblo.jp/yagbeauty-official/" target="_blank" class="js-hover is-opacity">
                        <span class="screen-reader">アメブロ</span>
                        <img src="<%= path %>/src/img/common/icon_ameblo.svg" alt="アメブロ">
                    </a>
                </div> -->
        </div>
    </section>
</main>

<% include common/_footer %>
