<% var title = 'ON Body Clinic |  Q&A'; %>
<% var description = '新宿駅徒歩1分の好アクセスにある、ダイエット専門のクリニックON Body Clinic(オン・ボディ・クリニック)GLP-1処方・冷却痩身・脂肪吸引などのダイエット施術において、お客様から寄せられる、多くの質問に回答するページです。'; %>
<% var keywords = '新宿,ダイエット,メディカルダイエット,痩身,脂肪吸引,ラクやせ,冷却痩身,GLP-1'; %>
<% var path = '.'; %>
<% include common/_header-pages %>

<!-- 記述 -->

<div class="pages__title">
    <div class="contents po_rel">

        <h1>Q&A</h1>
        <span>よくある質問</span>

        <ul class="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
            <li itemscope itemprop="itemListElement" itemtype="http://schema.org/ListItem">
                <a href="./index.html" class="js-hover is-opacity" itemprop="item"><span itemprop="name">HOME</span></a>
                <meta itemprop="position" content="1" />
            </li>
            <li itemscope itemprop="itemListElement" itemtype="http://schema.org/ListItem">
                <a href="./qa.html" class="js-hover is-opacity" itemprop="item"><span itemprop="name">Q&A</span></a>
                <meta itemprop="position" content="2" />
            </li>
        </ul>
    </div>
</div><!-- /pages__title -->
<main class="main" role="main">
    <h2 class="question__cat">お薬治療</h2>

    <div class="main-flex cat01">
        <!-- Q&A 1 -->
        <section id="cat01__qa-01" class="qa qa-01">
            <div class="section-inner js-view">
                <h1 class="qa__question"><span class="num">01</span>治療の際、痛みはあるのですか？</h1>
                <p
                    class="qa__answer">細い針を使っているので、痛みはほとんどありません。 注射というと、採血をする際に使用する採血針を思い浮かべる方が多いかもしれませんが、治療で使用する注射針は、太さも細く短い針ですので痛みも少ないです。</p>
            </div>
        </section>
        <!-- Q&A 2 -->
        <section id="cat01__qa-02" class="qa qa-02">
            <div class="section-inner js-view">
                <h1 class="qa__question"><span class="num">02</span>治療の副作用はありますか？</h1>
                <p
                    class="qa__answer">感受性の高い方は、胃部不快感・胃が張っている感じ・頭痛・便秘・下痢といった消化器症状がでることがあります。 ほとんどの場合はすぐに慣れてゆきますが、症状が出る方には、投与量を減量し、徐々に体にならせていく方法などもあります。</p>
            </div>
        </section>
        <!-- Q&A 3 -->
        <section id="cat01__qa-03" class="qa qa-03">
            <div class="section-inner js-view">
                <h1 class="qa__question"><span class="num">03</span>安全な治療なのでしょうか？</h1>
                <p class="qa__answer">人間の体で作られる消化管ホルモンを応用した薬を使用した治療です。 GLP-1の注射は、2014年にアメリカで肥満治療薬として承認されています。</p>
            </div>
        </section>
        <!-- Q&A 4 -->
        <section id="cat01__qa-04" class="qa qa-04">
            <div class="section-inner js-view">
                <h1 class="qa__question"><span class="num">04</span>GLP-1摂取中において、禁止事項などはございますか？</h1>
                <p class="qa__answer">GLP-1摂取中において、禁止事項などはございますか？</p>
            </div>
        </section>

    </div>

    <h2 class="question__cat">冷却痩身</h2>

    <div class="main-flex cat02">
        <!-- Q&A 1 -->
        <section id="cat02__qa-01" class="qa qa-01">
            <div class="section-inner js-view">
                <h1 class="qa__question"><span class="num">01</span>どのくらいで効果があらわれますか？</h1>
                <p class="qa__answer">治療後１ヵ月から数ヵ月かけて効果が現れてきます。＊個人差があります</p>
            </div>
        </section>
        <!-- Q&A 2 -->
        <section id="cat02__qa-02" class="qa qa-02">
            <div class="section-inner js-view">
                <h1 class="qa__question"><span class="num">02</span>どれくらいの間隔で治療を受ければいいですか？</h1>
                <p class="qa__answer">同じ部位の場合は３カ月程度が目安です。</p>
            </div>
        </section>
        <!-- Q&A 3 -->
        <section id="cat02__qa-03" class="qa qa-03">
            <div class="section-inner js-view">
                <h1 class="qa__question"><span class="num">03</span>施術の痛みや副作用はありますか？</h1>
                <p
                    class="qa__answer">施術中は、ほとんど痛みを感じることがございません。副作用においては、個人差がありますが、治療部位の赤み、内出血はあります。それらは、2〜3週間程度で消失します。</p>
            </div>
        </section>
        <!-- Q&A 4 -->
        <section id="cat02__qa-04" class="qa qa-04">
            <div class="section-inner js-view">
                <h1 class="qa__question"><span class="num">04</span>施術当日の入浴は可能でしょうか？</h1>
                <p class="qa__answer">施術当日から入浴は可能です。</p>
            </div>
        </section>

        <!-- Q&A 5 -->
        <section id="cat02__qa-04" class="qa qa-05">
            <div class="section-inner js-view">
                <h1 class="qa__question"><span class="num">05</span>施術を受けられない場合はあるのでしょうか？</h1>
                <p class="qa__answer">糖尿病の方、妊娠中の方、ヘルニアや腰痛もちの方、脂肪の厚さが一定の基準に満たない方への施術は、お断りしております。予めご了承下さい。</p>
            </div>
        </section>

    </div>

    <h2 class="question__cat">脂肪吸引</h2>

    <div class="main-flex cat03">
        <!-- Q&A 1 -->
        <section id="cat03__qa-01" class="qa qa-01">
            <div class="section-inner js-view">
                <h1 class="qa__question"><span class="num">01</span>治療の際、痛みはあるのですか？</h1>
                <p
                    class="qa__answer">細い針を使っているので、痛みはほとんどありません。 注射というと、採血をする際に使用する採血針を思い浮かべる方が多いかもしれませんが、治療で使用する注射針は、太さも細く短い針ですので痛みも少ないです。</p>
            </div>
        </section>
        <!-- Q&A 2 -->
        <section id="cat03__qa-02" class="qa qa-02">
            <div class="section-inner js-view">
                <h1 class="qa__question"><span class="num">02</span>治療の副作用はありますか？</h1>
                <p
                    class="qa__answer">感受性の高い方は、胃部不快感・胃が張っている感じ・頭痛・便秘・下痢といった消化器症状がでることがあります。 ほとんどの場合はすぐに慣れてゆきますが、症状が出る方には、投与量を減量し、徐々に体にならせていく方法などもあります。</p>
            </div>
        </section>
        <!-- Q&A 3 -->
        <section id="cat03__qa-03" class="qa qa-03">
            <div class="section-inner js-view">
                <h1 class="qa__question"><span class="num">03</span>安全な治療なのでしょうか？</h1>
                <p class="qa__answer">人間の体で作られる消化管ホルモンを応用した薬を使用した治療です。 GLP-1の注射は、2014年にアメリカで肥満治療薬として承認されています。</p>
            </div>
        </section>
        <!-- Q&A 4 -->
        <section id="cat03__qa-04" class="qa qa-04">
            <div class="section-inner js-view">
                <h1 class="qa__question"><span class="num">04</span>GLP-1摂取中において、禁止事項などはございますか？</h1>
                <p class="qa__answer">GLP-1摂取中において、禁止事項などはございますか？</p>
            </div>
        </section>

    </div>
    <!-- yag bottom sns -->
    <section class="btm-sns popup-nav">
        <div class="js-view">
            <h1>
                    <span class="screen-reader">DESIGN LABO 注入施術専門クリニック</span>
                    <div class="btm-sns__heading-image">
                    <img src="<%= path %>/src/img/common/logo_pages_btm.png" alt="ON_Body_Clinic">
                    </div>
                </h1>
            <div class="btn btn-green js-popup-open open-reserve js-hover is-opacity">ご予約</div>
            <!--  <div class="btm-sns__sns">
                    <a href="https://www.instagram.com/yagbeauty_official/" target="_blank" class="js-hover is-opacity">
                        <span class="screen-reader">instagram</span>
                        <img src="<%= path %>/src/img/common/icon_instagram.svg" alt="instagram">
                    </a>
                    <a href="https://ameblo.jp/yagbeauty-official/" target="_blank" class="js-hover is-opacity">
                        <span class="screen-reader">アメブロ</span>
                        <img src="<%= path %>/src/img/common/icon_ameblo.svg" alt="アメブロ">
                    </a>
                </div> -->
        </div>
    </section>
</main>


<% include common/_footer-pages %>
