/*
main tone:  #806474;
dark tone:  #808080;
light tome: #919191;
*/

/*よくある質問ページ
------------------------------ */
.qa {
    margin: 45px auto;
    padding: 0 15px;
    box-sizing: border-box;
    font-family: $gosic;
}

.section-inner {
    max-width: 450px;
    margin: auto;
    padding: 2.2rem 2.6rem;
}

/*カテゴリーごとに文字色背景色変える
------------------------------ */

/*お薬治療*/
.cat01 .section-inner {
    background-color: #eefaee;
}

.cat01 .qa__question {
    color: $green;
    border-bottom: 1px solid $green;
}

/*冷却痩身*/

.cat02 .section-inner {
    background-color: #ebf7fe;
}

.cat02 .qa__question {
    color: #6aafd4;
    border-bottom: 1px solid #6aafd4;
}

/*脂肪吸引*/
.main-flex.cat03 .qa:last-child {
    margin-bottom: 0;
}

.cat03 .section-inner {
    background-color: #fff7ea;
}

.cat03 .qa__question {
    color: #e1a743;
    border-bottom: 1px solid #e1a743;
}

.question__cat {
    text-align: center;
    font-family: $gosic;
    font-weight: 600;
    font-size: 1.8rem;
    letter-spacing: .1em;
    margin-top: 60px;
}

.qa__question {
    position: relative;
    line-height: 1.8rem;
    letter-spacing: 0.1em;
    font-size: 1.4rem;
    font-weight: 600;
    padding-bottom: 7px;
}

.qa__question > img {
    position: absolute;
    top: -50px;
    left: 0;
    width: 55px;
}

.qa__question > span.num {
    position: absolute;
    top: -42px;
    left: 0;
    font-size: 60px;
    font-family: 'Open Sans Condensed', sans-serif; //web FONT
}

.qa__answer {
    padding: 1em 0 0;
    text-align: justify;
    word-break: break-all;
}

@media (min-width: 768px) {
    .main-flex {
        display: flex;
        max-width: 1150px;
        margin: 20px auto 0;
        flex-wrap: wrap;
    }

    .qa {
        width: 50%;
        margin: 40px 0 0;
    }

    .section-inner {
        padding: 40px 45px;
    }

    .qa__question {
        line-height: 2.2rem;
    }

    .qa__question > img {
        top: -64px;
        width: 76px;
    }

    .qa__answer {
        font-size: .9rem;
    }

    .qa__question > span.num {
        top: -55px;
    }
}
