/**************


conversion AREA


****************/

.cv {
    padding: 2.7rem 0;

    p {
        font-size: 1.78rem;
        letter-spacing: 2px;
        margin-bottom: 5px;
    }

    .contents {
        padding: 20px 0;

        .left {
            width: 48%;

            .logo {
                width: 28%;
                margin: 0 auto 20px;
            }

            .tel {
                .number {
                    color: #282828;
                    font-size: 2.4rem;
                    letter-spacing: 0.05em;
                    padding-left: 70px;
                    line-height: 1;
                    background: url(../img/cv_tel_icon.png) no-repeat 0% 50% / 45px 41px;

                    span {
                        font-size: 1.1rem;
                        text-align: center;
                        display: block;
                        margin-top: 7px;
                    }
                }
            }
        }

        .right {
            width: 50%;

            ul {
                li {
                    width: 48.8%;
                }
            }
        }
    }
}

@media (max-width: 767px) {
    .cv {
        padding: 16px 0;

        p {
            margin-bottom: .8rem;
            font-size: .9rem;
        }

        .contents {
            padding: 10px 0;
            flex-flow: column-reverse;

            .left {
                width: 100%;
                display: block;

                .logo {
                    display: none;
                }

                .tel {
                    text-align: center;

                    .number {
                        font-size: 2.7rem;
                        padding-left: 40px;
                        background-size: 30px auto;

                        span {
                            font-size: 1.1rem;
                            text-align: center;
                            display: block;
                            margin-top: 7px;
                        }
                    }
                }
            }

            .right {
                width: 100%;

                p {
                    font-size: 1.4rem;
                }

                ul {
                    margin-bottom: 1.1rem;
                }
            }
        }
    }
}
