/**************


conversion AREA


****************/

.cv {
    .contents {
        padding: 40px 0;

        .left {
            width: 38%;

            .logo {
                width: 75%;
                margin: 0 auto 20px;
            }

            .tel {
                .number {
                    color: #282828;
                    font-size: 3.2rem;
                    letter-spacing: 0.05em;
                    padding-left: 70px;
                    line-height: 1;
                    background: url(../img/cv_tel_icon.png) no-repeat 0% 50% / 45px 41px;

                    span {
                        font-size: 1.1rem;
                        text-align: center;
                        display: block;
                        margin-top: 7px;
                    }
                }
            }
        }

        .right {
            width: 62%;

            p {
                font-size: 1.78rem;
                letter-spacing: 2px;
                margin-bottom: 18px;
            }

            ul {
                li {
                    width: 48.8%;
                }
            }
        }
    }
}

@media (max-width: 767px) {
    .cv {
        .contents {
            padding: 3.184555rem 0 5.845rem;
            flex-flow: column-reverse;

            .left {
                width: 100%;

                .logo {
                    display: none;
                }

                .tel {
                    text-align: center;

                    .number {
                        font-size: 3.8rem;
                        padding-left: 40px;
                        padding-top: 7px;
                        padding-bottom: 7px;
                        background-size: 30px auto;
                        line-height: 1;
                        background-position: 0% 56%;

                        span {
                            font-size: 1.5rem;
                            text-align: center;
                            display: block;
                            margin-top: 7px;
                        }
                    }
                }
            }

            .right {
                width: 100%;

                p {
                    margin-bottom: 1.5rem;
                    line-height: 1.38;
                    letter-spacing: 0;

                    a {
                        font-size: 3.2rem;
                        line-height: 1.0;
                    }
                }

                ul {
                    margin-bottom: 1.7rem;
                }
            }
        }
    }
}
