footer {
    background-color: #474e59;

    .copy {
        padding: 12px 0;
        font-size: 0.9rem;
        letter-spacing: 0.03em;
    }
}

@media (max-width: 767px) {
    footer {
        margin-bottom: 80px;
    }
}

@media (max-width: 767px) {
    /* fixed navigation
    ------------------------------ */
    .fixed-nav.sp-dis {
        position: fixed;
        z-index: 9998;
        bottom: 0;
        display: -ms-flexbox !important;
        display: -webkit-box !important;
        display: flex !important;
        width: 100%;
        height: 50px;
        background: #000;
        -ms-flex-align: stretch;
        -webkit-box-align: stretch;
        align-items: stretch;
    }

    .fixed-nav li {
        position: relative;
        text-align: center;
        -ms-flex: 1 0 33.3333%;
        -webkit-box-flex: 1;
        flex: 1 0 33.3333%;
        -webkit-align-self: center;
        -ms-flex-item-align: center;
        align-self: center;
    }

    .fixed-nav li:nth-of-type(2)::before,
    .fixed-nav li:nth-of-type(2)::after {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 2px;
        margin: auto;
        padding: 5px 0 8px;
        content: "|";
        color: #fff;
    }

    .fixed-nav li:nth-of-type(2)::before {
        left: 0;
    }

    .fixed-nav li:nth-of-type(2)::after {
        right: 0;
    }

    .fixed-nav a {
        display: block;
        margin: 0 8px;
        padding: 3px 0;
        -webkit-transition: background .5s;
        transition: background .5s;
        color: #fff;
        border-radius: 1em;
        font-size: 1.38rem;
    }

    .fixed-nav a.is-hover,
    .fixed-nav a.is-active,
    .fixed-nav a.is-first {
        background: #6aafd4;
    }
}
